div.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    opacity: .9;
    
}
  
h1.ui.header {
    font-size: 3.4rem;
}


.ui.header {
    cursor: pointer;
    font-size: 300px;
    font-family: 'Great Vibes', cursive;
    font-weight: 900;

    &:first-child {

    }
        
    &:hover {

        border-radius: 10px;
        color: #62a8a1;
        font-size: 3.6rem;
        transition: all 0.14s ease-in-out;
        font-weight: 100;
        
    }
}